.dish-composition-form-control {
} 

.dish-composition-form-control:focus {
}

.btn{
    justify-content: center;
}

.delete-btn{
    width: 6rem;
    background-color: coral !important;
    border: none !important;
}
