.nutrients-page-top {
    width: 100%;
    margin: 0 !important;
}

.cards__wrapper {
    display: flex !important; 
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    gap: 20px !important;  
}

.search__mobile {
    display: none;
}

@media (max-width: 545px) {

    .search__mobile {
        display: flex;
    }

    .search__desktop{
        display: none !important;
    }

}