.inputField {
    display: flex;
    padding: 12px 0;
    width: 100%;
}
.inputField *{
    width: 100%;
}
.inputField input {
    width:  100%;
    height: 2.5rem;
    font-size: 1rem;
    background-color: inherit;
    border: 1px solid #cfcfcf;
    color: #515151;
    
    border-radius: 0.5rem;
    text-align: center;
}

.inputField input::placeholder {
    color:#cfcfcf;
}